/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* navbar styling */
header {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom,
            #E6C878,
            #fff3c4,
            #ffffff)
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background: linear-gradient(to bottom,
            #E6C878,
            #fff3c4,
            white); */
}

.logobar {
    width: 270px;
    height: 60px;
    /* border: 1px solid black; */
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logobar img {
    width: 60px;
    height: 60px;
}

.logobar img:hover {
    cursor: pointer;
}

#changeit {
    transition: opacity 1s ease-in-out;
}

.logobar p {
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 200px;
}

.searchbar {
    width: auto;
    height: 50px;
    border: 1px solid black;
    margin-left: 350px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.searchlogo {
    width: 48px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* object-position: center; */
    /* background-size: cover; */
    padding: 10px;
}

.searchbar input {
    width: 400px;
    height: 48px;
    /* border: 1px solid rgb(255, 149, 149); */
    /* border-radius: 15px; */
    background-color: white;

    outline: none;
    border: transparent;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.miclogo {
    width: 48px;
    height: 48px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
}

.icon-btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    height: 48px;
}

.rightNavbar {
    width: 700px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding-right: 30px;
}

.rightNavbar button {
    background: none;
    border: none;
}

.rightNavbar a i {
    color: rgb(106, 80, 0);
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}

.rightNavbar a i:hover {
    color: rgb(95, 40, 32);
}

/* styling for the slides */
.slides{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: red;
}
.slide{
 object-fit: contain;
}